/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

html{
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-moretion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
  


/******************************************
/* BASE STYLES
/*******************************************/

#arrow{
  display: block;
  bottom: 0;
  right: 50%;

}

#arrow i{
  color: rgb(197, 174, 145);
  font-size: 40px;
  -webkit-text-stroke: .5px black;
}
main #arrow i{
  position: absolute;
  bottom: 0;
  right: 50%;
  padding-bottom: 1.5%;
}
.discover #arrow i{
  width: 100%;
  transform: translateX(50%);
  padding-top: 2%;
  
}
.socials span{
  background-color: rgba(245, 222, 179, 0.767);
  padding: .5rem;
  margin: 0;
}
#facebook{
  border-radius: 5px 0 0 5px;
}
#insta{
  border-radius: 0 5px 5px 0;
}

.order #arrow{
  padding-bottom: 1.7%;
}
.hours #arrow{
  padding-top: 1.7%;
}
@media (max-width: 400px){
 #arrow{
  display: none;
 }
}

/******************************************
/* LAYOUT
/*******************************************/

section{
  width: 85%;
  margin: 0 auto;
}

h2{
  color: rgb(83, 42, 0);
  margin: 5em 0 2em 0;
  clear: both;
}

h3,
h1{
  font-size: 4em;
  font-weight: 700;
  margin: 0 0 .5em 0;
  color: wheat;
  -webkit-text-stroke: 1px black;
}

p{
  line-height: 1.5em;
}

.container{
  width: 100%;
}

h5{
  color: wheat;
}
/* +++++ BUTTONS ++++++ */

.btn{
  background-color: rgb(255, 112, 60);
  border-radius: 0 .75em .75em 0;
  display: inline-block;
  vertical-align: auto;
  color: wheat;
  text-decoration: none;
  text-align: center;
  font-size: .75em;
  font-weight: 700;
  padding: 1em;
}
.btnAlt{
  height: 2.75em;
}

.btn:hover{
  color: rgb(71, 71, 71);
  background-color: rgb(255 148 41);
  
}

/* +++++ MAIN +++++ */
header {
  width: 100%;
  height: 3.5em;
  background-color: rgba(0, 0, 0, 0.582);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: fit-content;
  
}
nav li{
  width: fit-content;
  margin: 0 1em;
}
nav a{
  color: rgb(219, 195, 151);
  
}

nav a:hover{
  color: rgb(78, 78, 78);
  font-weight: 700;
  text-decoration: none;
  font-variant: small-caps;
}
  
h1{
  clear: both;
  -webkit-text-stroke: .5px bisque;
  margin-top: 2em;
}
form{
  margin: 0 0 1em 0;
  float: left;
  
}

form input{
  display: block;
  float: left;
  width: 20em;
  background-color: rgb(230, 206, 175);
}

form .btn{
  float: left;
  transform: translateY(4%);
}

.social{
  margin: 1em .2em 0 0;
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  
  font-size: 1.5em;
  font-weight: 700;
}
.socials{
  clear: both;
  margin: 0;
  width: 100%;
}

main{
  height: 57rem;
  background-image: url(dinnerTable2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

@media only screen and (max-width: 600px){
  main section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav{
    flex-direction: row;
    justify-content: center;
    font-size: .75em;
  }
  nav li{
    margin: 0 .5em;
  }
  h3,
  h1{
    font-size: 3em;
    font-weight: 700;
  }
  form input{
    display: block;
    float: left;
    width: 10em;
  }
}







/* +++++ ABOUT US ++++++ */

.story{
  float: right;
  clear: both;
  width: 600px;
  background-color: rgba(255, 228, 196, 0.616);
  margin-top: 4rem;
  border-radius: 5px;
}

.aboutUs h2,
.aboutUs h3,
.aboutUs p{
  padding: 0 2rem;
}

.aboutUs p + p{
  padding-bottom: 2em;
}

.aboutUs h2{
  font-size: 1.5rem;
  margin-top: 1em;
}


.aboutUs h3{
  margin: 0 0 .5em 0;

}

.aboutUs{
  height: 50em;
  text-align: left;
}

@media (max-width: 500px){
  .aboutUs h3{
    font-size: 2em;
  }
  .aboutUs{
    height: 40em;
  }
  .aboutUs h2{
    margin-bottom: .2em;
  }
  .story{
    margin-bottom: 0;
    font-size: .9em;
  }

}
@media screen and (max-width: 300px) {
  .story h3{
    font-size: 1.5em;
  }
  .story h2{
    visibility: hidden;
    margin: 0;
  }
  .story{
    margin-bottom: 0;
  }
  .aboutUs p + p{
    padding-bottom: .5em;
  }
}

.aboutUs p+p{
  margin: 1em 0;
}

.aboutUs a{
  border-radius: .75em;
  margin: 0 0 1em 2rem;
}

.discover{
  height: 57rem;
  background-image: url(reserved.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 70%;
}

@media only screen and (max-width: 600px){
  .story{

    float: right;
    clear: both;
    width: 100%;
    margin: 1em 0 4em 0;
  }
}

/* ++++++ ORDER ++++++ */


.order{
  text-align: center;
  height: fit-content;
  width: 100%;
  background-image: url(table.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}



.order h3{
  margin: 0 0 1rem 0;
  padding-top: 1rem;
}
.meals{
  margin: 0 auto;
  width: fit-content;
}

.meals li{
  float: left;
  width: fit-content;
}

.meals a{
  padding: 1em 2em;
  color: black;
  text-decoration: none;
  font-weight: 700;
  border-bottom: 2px solid black;
}

.meals a:hover{
  color: rgb(110, 107, 103);
  border-bottom: 2px solid rgb(114, 112, 110);
}

.plates{
  clear: both;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.plates li{
  width: 23.0%;
  height: 17em;
  margin-bottom: 1em;
}

.back section{
  height: 100%;
  width: 100%;
  padding: 3em 0 0 0;
  background-color: rgba(59, 56, 56, 0.6);
  color: wheat;
  font-size: 1.5em;
}

.back h5{
  text-decoration: underline;
  font-size: 2em;
}

.back section p{
  margin-top: .5em;
}


.deck{
  width: 100%;
  margin: 0 0 3em 0;
}

.alignmentFix{
  width: 90%;
  height: fit-content;
  display: block;

}

@media only screen and (max-width: 1000px){
  .plates li{
    width: 46.0%;
    height: 20em;
    margin: 1% 1%;
  }
}
@media only screen and (max-width: 600px){
  .plates li{
    width: 92.0%;
    height: 20em;
    margin: 1% 1%;
  }
  .meals a{
    padding: 1em .25em;
    color: black;
    text-decoration: none;
    font-weight: 700;
    border-bottom: 0px solid black;
    border-right: 1px solid black;

  }
  .meals li:last-child a{
    border-right: 0px;
  }
}


/* +++++ CARDS +++++ */

.cardContainer{
  position: relative;
  perspective: 600;
}
.card{
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  /* transition: all 1s ease-in-out; */
  width: 100%;
}
.card:hover{
  transform: rotateY(180deg);
}
.card .side{
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.card .back{
  transform: rotateY(180deg);
}

.fone{
  background-image: url(food1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.ftwo{
  background-image: url(food2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.fthree{
  background-image: url(food3.jpg);
   background-size: cover;
  background-repeat: no-repeat;
}
.ffour{
  background-image: url(food4.jpg);
   background-size: cover;
  background-repeat: no-repeat;
}
.ffive{
  background-image: url(foood5.jpg);
   background-size: cover;
  background-repeat: no-repeat;
}
.fsix{
  background-image: url(food6.jpg);
   background-size: cover;
  background-repeat: no-repeat;
}
.fseven{
  background-image: url(food7.jpg);
   background-size: cover;
  background-repeat: no-repeat;
}
.feight{
  background-image: url(food8.jpg);
   background-size: cover;
  background-repeat: no-repeat;  
}

/* +++++ Hours +++++ */



.hours{
  text-align: center;
  background-color: rgb(177, 161, 140);
  width: 100%;
  height: 59rem;
}

.hours h2{
  margin: 0;
  padding: 1rem 0 1rem 0;
}

.hours span{
  display: block;
}

.hours i,
.hours .phone{
  font-size: 2.5em;
  color: rgb(77, 49, 22);
 
}



.MT,
.FS{
  width: fit-content;
  margin: 0 1em 2em 1em;
}

.weekdays{
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.day{
  font-size: 2em;
  padding: .25em;
}


figure{
  background-image: url(bar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  clear: both;
  padding: 0 0 0 0;
  margin: 0 auto 0 auto;
  display: block;
  width: 50%;
  height: 50%;
}

@media screen and (max-width: 600px){
  figure{
    height: 40%;
    width: 75%;
  }
  #Y{
    height: 47em;
  }
}


/* +++++ TESTIMONIALS +++++ */

.testimonials{
  text-align: center;
  height: 57rem;
  background-color: rgb(214, 198, 173);
  width: 100%;
  padding-top: .5em;
}
@media (max-width: 500px){
  .testimonials{
    height: 60em;
    
  }
  .testimonials p{
    font-size: .9em;
  }
}

.testimonials .upArrow{
  color: black;
  font-size: 40px;
  -webkit-text-stroke: .5px black;
  float: right;
  padding-right: 5em;
}
@media (max-width: 950px){
  .testimonials .upArrow{
    padding-right: 1em;
  }
}

.testimonials h2{
  margin: 0;
  clear: both;
}

.fatFace{
  background-image: url(wine.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clear: both;
  margin: 0 auto;
  display: block;
  width: 20em;
  border-radius: 100%;
  border: 5px solid slategray;
}
@media (max-width: 400px){
  .fatFace{
    height: 17em;
    width: 11em;
  }
}


.testimonials h4,
.testimonials .stars,
.testimonials p{
  margin: 1rem 0;
}

.stars{
  color: rgb(107, 107, 0);
}

.testimonials h4{
  font-size: 2em;
  font-weight: 700;
  
}

.testimonials p{
  width: 50%;
  margin: 0 auto ;
  display: block;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/



